/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  font-family: HELVETICA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* img {
  max-width: 100%;
  height: auto;
}

.bgc-black {
  background-color: black;
  color: white;
}

.bgc-white {
  background-color: white;
  color: black;
}

html {
  background-color: #E8E8E8;
}

.container {
  width: 540px;
  font-family: 'Open Sans';
  color: #000000;
  margin: 72px auto;
}

.container .h1 {
  font: normal normal 800 68px/72px "Open Sans";
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  margin-bottom: 35px;
}

.time-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 104px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid black;
  padding: 16px 40px;
}

.time-zone div {
  width: 50%;
}

.nameDay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nameDay .city {
  font: normal normal bold 36px/49px 'Open Sans';
}

.nameDay .day {
  font: italic normal bold 16px/22px 'Open Sans';
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.time .now-time {
  font: normal normal bold 72px/98px 'Open Sans';
}

.text {
  display: block;
  width: 50vw;
  font-size: 16px;
  color: blue;
  margin: 40px auto;
  line-height: 24px;
}
