@import "reset";

* {
    box-sizing: border-box;

    img {
        max-width: 100%;
        height: auto;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}

.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

html {
    background-color: #5858B9;
}

#turntable {
    justify-content: center;
    width: 94%;
}

.circleBorder {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    background-color: #22299B;
    border: 3px solid #1F1172;
    position: relative;
    z-index: 3;

    .giftName {
        font: normal normal bold 32px/32px Roboto Condensed;
    }

    .giftIcon {
        font-size: 65px;
    }
}

.indicator {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: #1F1172;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .pointer {
        position: absolute;
        bottom: 0;
        color: rgb(177, 36, 219);
        transform-origin: 50% calc(50% + 40.36px);
    }

    .pressText {
        font: normal normal bold 32px/38px Roboto Condensed;
        color: #FF00BA;
        z-index: 3;
    }
}

.selectArea {
    position: absolute;
    top: 10px;
    left: 10px;

    #selectData {
        width: 100%;
    }
}

.congratulation {
    position: absolute;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #343BAA 0% 0% no-repeat padding-box;

    .congratulation-l {
        width: calc((100% - 550px)/2);
        text-align: center;
        font: normal normal bold 64px/64px Roboto Condensed;
    }

    .congratulation-r {
        width: calc((100% - 550px)/2);
        font: normal normal bold 32px/32px Roboto Condensed;
        text-align: center;
    }

    .prizeName {
        text-decoration: underline;
        font: normal normal bold 68px/68px Roboto Condensed;
        color: #FF00BA;
    }
}

.customize {
    width: 700px;
    height: auto;
    background-color: #fff;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;

    .customizeHeader {
        height: 50px;
        background-color: yellow;
        border-bottom: 1px solid black;
    }

    .customizeFooter {
        background-color: yellow;
        border-top: 1px solid black;
        display: flex;
        justify-content: flex-end;
        padding: 10px 30px;

        button {
            &:hover {
                color: white;
                background-color: #1F1172;
            }

            cursor: pointer;
            font-size: 24px;
            width: 80px;
            height: 40px;
            margin-left: 20px;
            background-color: rgb(223, 132, 223);
            color: black;
        }
    }
}

.customizeArea {
    height: 500px;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-rows: 30px auto;
    text-align: center;

}