/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  font-family: HELVETICA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* img {
  max-width: 100%;
  height: auto;
}

html {
  background-color: #E8E8E8;
}

h1 {
  font-size: 40px;
  color: red;
  display: block;
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
}

.container {
  margin: calc(50% - 550px) auto;
  width: 350px;
  height: 550px;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
}

.countArea {
  background-color: #041936;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  text-align: right;
  padding: 10px 16px;
  overflow: hidden;
}

.passCount {
  font-size: 16px;
  color: #00C4FF;
  line-height: 30px;
  max-width: 100%;
  overflow: hidden;
}

.nowCount {
  font-size: 56px;
  color: white;
  line-height: 60px;
}

.btnArea {
  display: -ms-grid;
  display: grid;
  background-color: #062145;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 24px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 12.5px 10px;
}

.grid-item {
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  line-height: 75px;
}

.grid-item:hover {
  -webkit-box-shadow: 0px 0px 1px #00C4FF;
          box-shadow: 0px 0px 1px #00C4FF;
  cursor: pointer;
}

.operator {
  background-color: #041936;
}

.num,
.cancel,
.point {
  -webkit-box-shadow: 0px 0px 4px #00C4FF;
          box-shadow: 0px 0px 4px #00C4FF;
}

.cancel {
  color: #00C4FF;
}

.answer {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  background: transparent -webkit-gradient(linear, left top, right top, from(#00C4FF), to(#6C00FF)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #00C4FF 0%, #6C00FF 100%) 0% 0% no-repeat padding-box;
  border-radius: 16px;
}

.text {
  display: block;
  width: 50vw;
  font-size: 16px;
  color: blue;
  margin: 40px auto;
  line-height: 24px;
}
