/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* img {
  max-width: 100%;
  height: auto;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.wrap h1 {
  width: 100%;
  font-size: 50px;
  color: red;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .wrap h1 {
    font-size: 30px;
  }
}

.startPage {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.startPage .start-grid-container {
  height: 55vh;
  width: 55vh;
  min-width: 310px;
  min-height: 310px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.startPage .start-grid-container .start-grid-item {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: italic normal bold 64px/90px Roboto Condensed;
}

.startPage .startBtn {
  margin-top: 10px;
  height: 90px;
  width: 50%;
  min-width: 300px;
  border-radius: 8px;
  color: #FF6D70;
  background-color: white;
  font: normal normal bold 48px/48px Roboto Condensed;
  cursor: pointer;
}

.grid-container {
  margin: 0 auto;
  padding: 50px 10px 0 10px;
  display: -ms-grid;
  display: grid;
  width: 55vh;
  height: 55vh;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  border: 3px solid red;
}

.bgc-hei {
  background-image: url(images/hei.jpg);
}

.bg {
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.bgc-pai {
  background-image: url(images/pai.jpg);
}

.bgc-draw {
  background-image: url(images/draw.jpg);
}

.l {
  border-left: none;
}

.r {
  border-right: none;
}

.t {
  border-top: none;
}

.b {
  border-bottom: none;
}

.user2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user2 span {
  margin: 10px 0;
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.user1 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user1 span {
  margin: 10px 0;
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.nowUser {
  border: 3px solid gold;
}

.endPage {
  width: 45vh;
  height: 45vh;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.endPage .result {
  padding-bottom: 10px;
  font-size: 48px;
  font-weight: bold;
  color: red;
  text-shadow: 3px 3px 4px yellow;
}

.endPage .restartBtn {
  position: absolute;
  bottom: -100px;
  height: 90px;
  width: 50%;
  min-width: 300px;
  border-radius: 8px;
  color: white;
  background-color: #FF6D70;
  font: normal normal bold 48px/48px Roboto Condensed;
  cursor: pointer;
}
