@import "reset";

* {
    box-sizing: border-box;

    img {
        max-width: 100%;
        height: auto;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
}

.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    h1 {
        width: 100%;
        font-size: 50px;
        color: red;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 1.2;

        @media (max-width: 767px) {
            font-size: 30px;
        }
    }
}

.startPage {
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 99;
    display: flex;
    // display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .start-grid-container {
        height: 55vh;
        width: 55vh;
        min-width: 310px;
        min-height: 310px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;
        grid-column-gap: 5px;
        grid-row-gap: 5px;

        .start-grid-item {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font: italic normal bold 64px/90px Roboto Condensed;
        }
    }

    .startBtn {
        margin-top: 10px;
        height: 90px;
        width: 50%;
        min-width: 300px;
        border-radius: 8px;
        color: #FF6D70;
        background-color: white;
        font: normal normal bold 48px/48px Roboto Condensed;
        cursor: pointer;
    }
}


.grid-container {
    margin: 0 auto;
    padding: 50px 10px 0 10px;
    display: grid;
    // display: none;
    width: 55vh;
    height: 55vh;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.grid-item {
    border: 3px solid red;
}

.bgc-hei {
    background-image: url(images/hei.jpg);
}

.bg{
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.bgc-pai {
    background-image: url(images/pai.jpg);
}
.bgc-draw {
    background-image: url(images/draw.jpg);
}

.l {
    border-left: none;
}

.r {
    border-right: none;
}

.t {
    border-top: none;
}

.b {
    border-bottom: none;
}

.user2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        margin: 10px 0;
        color: red;
        font-size: 30px;
        font-weight: bold;
    }
}

.user1 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        margin: 10px 0;
        color: red;
        font-size: 30px;
        font-weight: bold;
    }
}

.nowUser {
    border: 3px solid gold;
}

.endPage {
    width: 45vh;
    height: 45vh;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    .result {
        padding-bottom: 10px;
        font-size: 48px;
        font-weight: bold;
        color: red;
        text-shadow: 3px 3px 4px yellow;
    }
    .restartBtn{
        position: absolute;
        // margin-top: 10px;
        bottom: -100px;
        height: 90px;
        width: 50%;
        min-width: 300px;
        border-radius: 8px;
        color: white;
        background-color: #FF6D70;
        font: normal normal bold 48px/48px Roboto Condensed;
        cursor: pointer;
    }
}